<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="aggressiveLazyLoading" value="false"/>
		<!--<setting name="mapUnderscoreToCamelCase" value="true"/>-->
	</settings>

	<typeAliases>
		<typeAlias type="com.dalbit.sample.vo.SampleVo" alias="SampleVo" />

		<typeAlias type="com.dalbit.common.vo.ProcedureVo" alias="ProcedureVo" />
		<typeAlias type="com.dalbit.common.vo.ProcedureOutputVo" alias="ProcedureOutputVo" />
		<typeAlias type="com.dalbit.common.vo.request.SmsVo" alias="SmsVo" />
		<typeAlias type="com.dalbit.common.vo.SmsOutVo" alias="SmsOutVo" />
		<typeAlias type="com.dalbit.common.vo.ItemVo" alias="ItemVo" />
		<typeAlias type="com.dalbit.common.vo.ItemDetailVo" alias="ItemDetailVo" />
		<typeAlias type="com.dalbit.common.vo.procedure.P_ItemVo" alias="P_ItemVo" />
		<typeAlias type="com.dalbit.common.vo.AppVersionVo" alias="AppVersionVo" />
		<typeAlias type="com.dalbit.common.vo.BanWordVo" alias="BanWordVo" />
		<typeAlias type="com.dalbit.common.vo.NowBroadcastVo" alias="NowBroadcastVo" />
		<typeAlias type="com.dalbit.common.vo.AdbrixVo" alias="AdbrixVo" />

		<typeAlias type="com.dalbit.main.vo.procedure.P_MainFanRankingVo" alias="P_MainFanRankingVo" />
		<typeAlias type="com.dalbit.main.vo.procedure.P_MainDjRankingVo" alias="P_MainDjRankingVo" />
		<typeAlias type="com.dalbit.main.vo.procedure.P_NoticeListVo" alias="P_NoticeListVo" />
		<typeAlias type="com.dalbit.main.vo.procedure.P_FaqListVo" alias="P_FaqListVo" />
		<typeAlias type="com.dalbit.main.vo.procedure.P_QnaListVo" alias="P_QnaListVo" />
		<typeAlias type="com.dalbit.main.vo.procedure.P_MainMyDjVo" alias="P_MainMyDjVo" />
		<typeAlias type="com.dalbit.main.vo.procedure.P_MainRecommandVo" alias="P_MainRecommandVo" />
		<typeAlias type="com.dalbit.main.vo.procedure.P_MainStarVo" alias="P_MainStarVo" />
		<typeAlias type="com.dalbit.main.vo.procedure.P_BannerVo" alias="P_BannerVo" />
		<typeAlias type="com.dalbit.main.vo.BannerVo" alias="BannerVo" />


		<typeAlias type="com.dalbit.broadcast.vo.procedure.P_RoomListVo" alias="P_RoomListVo" />
		<typeAlias type="com.dalbit.broadcast.vo.procedure.P_RoomInfoViewVo" alias="P_RoomInfoViewVo" />
		<typeAlias type="com.dalbit.broadcast.vo.procedure.P_RoomMemberListVo" alias="P_RoomMemberListVo" />
		<typeAlias type="com.dalbit.broadcast.vo.procedure.P_RoomShareLinkVo" alias="P_RoomShareLinkVo" />
		<typeAlias type="com.dalbit.broadcast.vo.procedure.P_RoomStoryListVo" alias="P_RoomStoryListVo" />
		<typeAlias type="com.dalbit.broadcast.vo.procedure.P_RoomGiftHistoryVo" alias="P_RoomGiftHistoryVo" />
		<typeAlias type="com.dalbit.broadcast.vo.procedure.P_RoomEditOutVo" alias="P_RoomEditOutVo" />

		<typeAlias type="com.dalbit.member.vo.procedure.P_FanboardListVo" alias="P_FanboardListVo" />
		<typeAlias type="com.dalbit.member.vo.procedure.P_FanboardReplyVo" alias="P_FanboardReplyVo" />
		<typeAlias type="com.dalbit.member.vo.procedure.P_MemberShortCutVo" alias="P_MemberShortCutVo" />
		<typeAlias type="com.dalbit.member.vo.procedure.P_NotificationVo" alias="P_NotificationVo" />
		<typeAlias type="com.dalbit.member.vo.procedure.P_FanRankingVo" alias="P_FanRankingVo" />
		<typeAlias type="com.dalbit.member.vo.procedure.P_MypageNoticeSelectVo" alias="P_MypageNoticeSelectVo" />
		<typeAlias type="com.dalbit.member.vo.procedure.P_DalVo" alias="P_DalVo" />
		<typeAlias type="com.dalbit.member.vo.procedure.P_ByeolVo" alias="P_ByeolVo" />
		<typeAlias type="com.dalbit.member.vo.procedure.P_MypageReportBroadVo" alias="P_MypageReportBroadVo" />
		<typeAlias type="com.dalbit.member.vo.procedure.P_MypageReportListenVo" alias="P_MypageReportListenVo" />
		<typeAlias type="com.dalbit.member.vo.procedure.P_SearchUserVo" alias="P_SearchUserVo" />
		<typeAlias type="com.dalbit.member.vo.procedure.P_MypageManagerVo" alias="P_MypageManagerVo" />
		<typeAlias type="com.dalbit.member.vo.procedure.P_MypageBlackVo" alias="P_MypageBlackVo" />
		<typeAlias type="com.dalbit.member.vo.procedure.P_ChangeItemListVo" alias="P_ChangeItemListVo" />
		<typeAlias type="com.dalbit.member.vo.procedure.P_StarRankingVo" alias="P_StarRankingVo" />
		<typeAlias type="com.dalbit.member.vo.procedure.P_FanListVo" alias="P_FanListVo" />
		<typeAlias type="com.dalbit.member.vo.procedure.P_SpecialDjReq" alias="P_SpecialDjReq" />
		<typeAlias type="com.dalbit.member.vo.LevelVo" alias="LevelVo" />

		<typeAlias type="com.dalbit.search.vo.procedure.P_MemberSearchVo" alias="P_MemberSearchVo" />
		<typeAlias type="com.dalbit.search.vo.procedure.P_LiveRoomSearchVo" alias="P_LiveRoomSearchVo" />

		<typeAlias type="com.dalbit.store.vo.StoreChargeVo" alias="StoreChargeVo" />
		<typeAlias type="com.dalbit.store.vo.PayChargeVo" alias="PayChargeVo" />

		<typeAlias type="com.dalbit.socket.vo.P_RoomMemberInfoSelectVo" alias="P_RoomMemberInfoSelectVo" />
	</typeAliases>

</configuration>

