<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="aggressiveLazyLoading" value="false"/>
		<!--<setting name="mapUnderscoreToCamelCase" value="true"/>-->
	</settings>

	<typeAliases>
		<typeAlias type="com.dalbit.sample.vo.SampleVo" alias="SampleVo" />

		<typeAlias type="com.dalbit.common.vo.ProcedureVo" alias="ProcedureVo" />
		<typeAlias type="com.dalbit.common.vo.ProcedureOutputVo" alias="ProcedureOutputVo" />

		<typeAlias type="com.dalbit.broadcast.vo.procedure.P_RoomListVo" alias="P_RoomListVo" />
		<typeAlias type="com.dalbit.broadcast.vo.procedure.P_RoomInfoViewVo" alias="P_RoomInfoViewVo" />
		<typeAlias type="com.dalbit.broadcast.vo.procedure.P_RoomMemberListVo" alias="P_RoomMemberListVo" />
		<typeAlias type="com.dalbit.broadcast.vo.procedure.P_RoomShareLinkVo" alias="P_RoomShareLinkVo" />
		<typeAlias type="com.dalbit.broadcast.vo.procedure.P_RoomStoryListVo" alias="P_RoomStoryListVo" />
		<typeAlias type="com.dalbit.broadcast.vo.procedure.P_RoomGiftHistoryVo" alias="P_RoomGiftHistoryVo" />
		<typeAlias type="com.dalbit.broadcast.vo.procedure.P_RoomEditOutVo" alias="P_RoomEditOutVo" />

		<typeAlias type="com.dalbit.member.vo.procedure.P_FanboardListVo" alias="P_FanboardListVo" />
		<typeAlias type="com.dalbit.member.vo.procedure.P_FanboardReplyVo" alias="P_FanboardReplyVo" />
		<typeAlias type="com.dalbit.member.vo.procedure.P_MemberShortCutVo" alias="P_MemberShortCutVo" />
		<typeAlias type="com.dalbit.member.vo.procedure.P_NotificationVo" alias="P_NotificationVo" />
		<typeAlias type="com.dalbit.member.vo.procedure.P_FanRankingVo" alias="P_FanRankingVo" />
		<typeAlias type="com.dalbit.member.vo.procedure.P_MypageNoticeSelectVo" alias="P_MypageNoticeSelectVo" />
		<typeAlias type="com.dalbit.member.vo.procedure.P_DalVo" alias="P_DalVo" />
		<typeAlias type="com.dalbit.member.vo.procedure.P_ByeolVo" alias="P_ByeolVo" />
		<typeAlias type="com.dalbit.member.vo.procedure.P_MypageReportBroadVo" alias="P_MypageReportBroadVo" />
		<typeAlias type="com.dalbit.member.vo.procedure.P_MypageReportListenVo" alias="P_MypageReportListenVo" />

		<typeAlias type="com.dalbit.search.vo.procedure.P_MemberSearchVo" alias="P_MemberSearchVo" />
		<typeAlias type="com.dalbit.search.vo.procedure.P_LiveRoomSearchVo" alias="P_LiveRoomSearchVo" />
	</typeAliases>

</configuration>

